@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Afacad Flux", sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../img/image1.jpg");
    background-size: cover;
    background-position: bottom;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem;
    transition: all 0.6s ease-in-out;
}

.btn:hover {
    font-size: 4rem;
}

.intro-image__text .btn {
    background-color: rgba(95, 50, 32, 0.481);
    color: chocolate;
    border: 2px solid rgb(95, 50, 32);
}

.intro-text {
    clip-path: polygon(50% 15%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
    background-color: rgb(162, 85, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: -100px;
    padding: 0 10rem;
}

.heading-solid {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url("../img/image2.jpg");
    background-size: cover;
    background-position: bottom;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text .btn {
    background-color: rgba(175, 118, 98, 0.563);
    border: 2px solid rgb(175, 118, 98);
    color: antiquewhite;
}

.packaging-text {
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 100%, 50% 85%, 0 100%, 0% 43%, 0 0);
    background-color: rgb(162, 85, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-bottom: -100px;
    padding: 0 10rem;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url("../img/image3.jpg");
    background-size: cover;
    background-position: bottom;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text .btn {
    background-color: rgba(208, 182, 162, 0.526);
    border: 2px solid rgb(208, 182, 162);
    color: rgb(95, 70, 0);
}

.footer {
    background-color: rgb(101, 137, 39);
    color: greenyellow;
    padding-top: 2rem;
    font-size: 2rem;
    height: 200px;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    text-decoration: none;
    color: greenyellow;
    transition: all 0.4s ease-in-out;
}

.footer ul li a:hover {
    color: rgb(212, 255, 212);
}